*{
    padding: 0px;
    
    margin: 0px;
}
body{
    background-color:#FFDE33;
}
#contenedor{
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px;
    /*fondo*/
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    /*borde*/
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 5px solid #ececec;
    
    
    /*sombra*/
    -webkit-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    -moz-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    
}
#contenedor button{
    width: 200px;
    align:center;
}
#cont{
    width: 500px;
    height: 450px;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px;
    /*fondo*/
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    /*borde*/
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 5px solid #ececec;
    
    
    /*sombra*/
    -webkit-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    -moz-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    
}
#contenedo{
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px;
    /*fondo*/
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    /*borde*/
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 5px solid #ececec;
    
    
    /*sombra*/
    -webkit-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    -moz-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    
}
#contenedor{
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px;
    /*fondo*/
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    /*borde*/
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 5px solid #ececec;
    
    
    /*sombra*/
    -webkit-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    -moz-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    
}
#contenedor button{
    width: 200px;
    align:center;
}
#cont{
    width: 500px;
    height: 450px;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px;
    /*fondo*/
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    /*borde*/
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 5px solid #ececec;
    
    
    /*sombra*/
    -webkit-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    -moz-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    
}
#contenedor{
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px;
    /*fondo*/
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    /*borde*/
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 5px solid #ececec;
    
    
    /*sombra*/
    -webkit-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    -moz-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    
}
#contenedor button{
    width: 200px;
    align:center;
}
#cont{
    width: 500px;
    height: 450px;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px;
    /*fondo*/
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    /*borde*/
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 5px solid #ececec;
    
    
    /*sombra*/
    -webkit-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    -moz-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    
}
#cond{
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px;
    /*fondo*/
    background: #ececec; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #ececec); /* Standard syntax */
    /*borde*/
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 5px solid #ececec;
    
    
    /*sombra*/
    -webkit-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    -moz-box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    box-shadow: 13px 15px 34px -8px rgba(49,51,102,1);
    
}